<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('backoffice') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="active">
{# page wrapper #}
<div class="page">
    {#    Sidebar#}
    <div class="sidebar d-sm-none d-lg-block">
        <div class="sidebar-header">
            <div class="sidebar-logo-container">
                <div class="logo-container">
                    <img src="" alt="logo" class="logo-sidebar">
                                        <img src="assets/img/logo.png" alt="logo" class="logo-sidebar">
                </div>
                <div class="brand-name-container">
                    <p class="brand-name">
                        Organizer <br>
                        <span class="brand-subname">Panel</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="sidebar-body">
            <ul class="navigation-list">
                <li class="navigation-list-item">
                    <a href="{{ path('admin_backoffice') }}" class="navigation-link">
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-tachometer"></i>
                            </div>
                            <div class="col-10">
                                Dashboard
                            </div>
                        </div>
                    </a>
                </li>
                <li class="navigation-list-item active">
                    <a href="{{ path('admin_user_list') }}" class="navigation-link">
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-tachometer"></i>
                            </div>
                            <div class="col-10">
                                Utilisateurs
                            </div>
                        </div>
                    </a>
                </li>
                <li class="navigation-list-item">
                    <a href="{{ path('admin_company_index') }}" class="navigation-link">
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-tachometer"></i>
                            </div>
                            <div class="col-10">
                                Entreprises
                            </div>
                        </div>
                    </a>
                </li>

                <li class="navigation-list-item">
                    <a href="{{ path('admin_customer_index') }}" class="navigation-link">
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-tachometer"></i>
                            </div>
                            <div class="col-10">
                                Customers
                            </div>
                        </div>
                    </a>
                </li>
                <li class="navigation-list-item">
                    <a href="{{ path('appointment_index') }}" class="navigation-link">
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-tachometer"></i>
                            </div>
                            <div class="col-10">
                                Rendez-vous
                            </div>
                        </div>
                    </a>
                </li>
                <li class="navigation-list-item">
                    <a href="#" class="navigation-link">
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-tachometer"></i>
                            </div>
                            <div class="col-10">
                                Planning
                            </div>
                        </div>
                    </a>
                </li>

            </ul>
            <hr style="margin-top: 30px;color: white">
            <div class="teams-title-container">
                <p class="teams-title">Equipes</p>
            </div>
            <ul class="teams-list">
                <li class="team-liste-item">
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-circle" style="color: rgb(255, 92, 160, 0.8)"></i>
                        </div>
                        <div class="col-10">
                            Marketing
                        </div>
                    </div>
                </li>
                <li class="team-liste-item">
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-circle" style="color: rgb(36, 115, 242, 0.8)"></i>
                        </div>
                        <div class="col-10">
                            Developpement
                        </div>
                    </div>
                </li>
                <li class="team-liste-item">
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-circle" style="color: rgb(51, 242, 105, 0.8)"></i>
                        </div>
                        <div class="col-10">
                            Webmaster
                        </div>
                    </div>
                </li>
                <li class="team-liste-item">
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-circle" style="color: rgb(237, 181, 28, 0.8)"></i>
                        </div>
                        <div class="col-10">
                            Administration
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    {#    End of Sidebar#}

    {#    Page content#}
    <div class="content">
        <div class="navigationBar">
            <button id="sidebarToggle" class="btn sidebarToggle">
                <i class="fas fa-bars"></i>
            </button>

            <div class="navigationBar-profile-container">
                <div class="navigationBar-profilePic-container">
                    <img src="{{ asset('build/images/default-avatar.png') }}" alt="user pics" class="navigationBar-profilePic">
                </div>
                <div class="navigationBar-user-name-container">
                    <p class="user-name">
                        Jhon <b>Doe</b>
                    </p>
                </div>
            </div>
        </div>
        {% block body %}{% endblock %}
    </div>
    {#    End of page content#}
</div>

</body>
</html>